@charset "utf-8";
@import "colors.scss";

@import "./node_modules/bootstrap/scss/bootstrap";

// Webfont
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$fa-font-path: "../webfonts" !default;
@import "~@fortawesome/fontawesome-free-webfonts/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-solid.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-regular.scss";
@import "~@fortawesome/fontawesome-free-webfonts/scss/fa-brands.scss";

@import "fixed_footer.scss";

.brand-font {
  font-family: 'Roboto Slab', serif;
}