// https://coolors.co/ff8f00-011627-f71735-41ead4-fdfffc ??
// https://coolors.co/264653-2a9d8f-e9c46a-f4a261-e76f51
// https://coolors.co/000000-cf5c36-eee5e9-7c7c7c-efc88b
// https://coolors.co/eb7340-565554-2e86ab-f6f5ae-f5f749
// teal: #2E86AB

$tg-light-grey: #f6f7f9;


$text-color-light: rgba(255, 255, 255, 0.75);
$color-blue: rgba(2, 67, 172, 0.8);

$primary: #EB7340;
$secondary: rgba(2, 68, 171, 0.8392156862745098);
$brand-color: #FF8F00;
$title-color: #FF8F00;

$link: #4B7EA9;
$success: #7BD039;

// Card header
$card-cap-bg: $tg-light-grey;

// Default Bootstrap colors
$theme-colors: (
  light: $tg-light-grey,
);

/*
.active {
  color: $secondary !important;
}
*/