html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

// Fix for flex body
nav.navbar {
  display: block;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
}