@import "app.scss";
  
  .main-wrapper {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
  }

  section.content {
    position: relative;
    padding: 2rem 1.25rem 0;
    width: 100%;
    z-index: 1;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(20,20,31,.05), 0 1px 3px 0 rgba(20,20,31,.15);
  }

  header.auth {
    position: relative;
    padding: 2rem 1.25rem 0;
    width: 100%;
    background-color: var(--light);
    text-align: center;
    background-size: cover;
  }

  section.error {
    height: 100vh;

    h1 {
      font-size: 10rem;
    }
  }

  @media (min-width: 768px)
  {
    header.auth {
      margin-bottom: -3rem;
      padding-top: 5rem;
      padding-bottom: 3rem;
    }

    .content.auth {
      padding: 2rem 2rem 1rem;
      max-width: 420px;
    }

    .footer {
      max-width: 420px;
    }
  }

  body {
    background: none;
  }

  .features-wrapper figure {
    margin: 0;
  }

  .signup-login-wrapper.hero.is-success {
    background: #F2F6FA;
  }
  .signup-login-wrapper.hero .nav, .hero.is-success .nav {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
    
  .signup-login-wrapper {
    .box {
      margin-top: 5rem;
    }
    .avatar {
      margin-top: -70px;
      padding-bottom: 20px;
    }
    .avatar img {
      padding: 5px;
      background: #fff;
      border-radius: 50%;
      -webkit-box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
      box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    }
    input {
      font-weight: 300;
    }
    p {
      font-weight: 700;
    }
    p.subtitle {
      padding-top: 1rem;
    }
  }

  .navbar-item .tag {
    height: 1.5em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.5em;
  }

  .footer {
    padding: 1rem;
  }