.text-light {
  .breadcrumb-item,
  .breadcrumb-item a,
  .breadcrumb-item + .breadcrumb-item::before {
    color: var(--white);
  }

  .breadcrumb-item a:hover {
    opacity: .75;
  }

  .breadcrumb-item.active {
    color: $text-color-light;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.breadcrumb {
  font-size: 1.2em;
}