.character-info{
  font-size: 1.1em;

  .character-attribute {
    margin-bottom: .75em;
  }

  label {
    font-size: .7em;
    color: var(--gray);
    width: 100%;
    margin: 0;
  }
}

.character-avatar {
  width: 4rem;
  height: 4rem;
  position: relative;

  img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
    border-radius: 4rem;
  }
}