@import "../app.scss";  

@import "../colors.scss";
@import "custom_basic.scss";
@import "character.scss";

@import "main_menu.scss";
@import "breadcrumb.scss";

.file-column,
.file-column .file-thumbnail {
  height: 200px;
}

$font-family-base: 'Open Sans', sans-serif;

.file-column {
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: .25rem;
  text-align: center;
}

.file-column .file-thumbnail {
  max-width: 100%;
  padding: .25em;
}

img.avatar {
  border-radius: 50%;
}

.dropdown-toggle.notification::after {
  display: none;
}

div.preview-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 100%;
  height: 100%;
}

/** removes the whitespace before white-space:pre... **/
.text-content {
  white-space: pre-line;
}

.text-content:first-line {
  line-height: 0px;
}

.user-avatar {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
  vertical-align: middle;
  border-radius: 4rem;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 4rem;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
  }
}

.user-avatar-sm {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.user-avatar-md {
  width: 2rem;
  height: 2rem;
  font-size: 2rem;
}

.media {
  .media-title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .media-subtitle {
    font-size: 0.75rem;
    margin-top: -0.75rem;
  }
}

.subtitle {
  margin-top: -0.5rem;
}

.fileinput-button {
  input {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    direction: ltr;
    cursor: pointer;
    z-index: 2;
    margin: 0px;
  }
}

.card .group-card {
  .group-name {
    height: 2.4em;
    overflow: hidden;
    line-height: 1.2em;
  }

  .group-system {
    height: 1.2em;
    overflow: hidden;
    line-height: 1.2em;
    display: inline-block;
  }

  .group-users {
    display: inline-block;

    .group-user {
      display: inline-block;
      margin-left: -.5em;
    }
  }
}

.group-progress {

  .progress {
    margin: 1rem 0;
  }

  ul {
    margin-left: 1.5em;
  }

  ul li {
    padding-top: 0.5rem;
  }
  ul li:first-child {
    padding-top: 0
  }
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;

  &:hover {
    cursor: pointer;
  }
}

.breadcrumb {
  background-color: transparent;
  font-size: 1em;
  padding: 0 0 0 0;
}

@media (max-width: 575.98px)
{
  .navbar-nav .dropdown-menu-lg {
      min-width: 100%;
  }
}