body {
  background-color: var(--light);
}

a,
a:hover {
	text-decoration: none;
	color: $primary;
}

.nav .nav-link {
	color: var(--dark);
}


.bg-primary {
  background-color: $primary;

  .breadcrumb {
    background-color: transparent;
  }
}

.nav:not(.nav-pills) .nav-link.active:not(.btn),
.nav:not(.nav-pills) .nav-link:hover,
.nav.nav-pills .nav-link:not(.active):hover {
  color: $primary;
}

.nav .nav-link.btn:hover {
  color: var(--light);
}

.card.active {
  background-color: $primary;

  a {
    color: var(--light);
  }
}

.avatar {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  width: 3rem;
  height: 3rem;
}

.avatar-lg {
  font-size: 1.33333rem;
  width: 4rem;
  height: 4rem;
}

.avatar-u-lg {

    width: 5rem;
    height: 5rem;

    img {
      width: 5rem;
      height: 5rem;
    }

    .badge {
      -webkit-transform: translate(20%, -10%);
      transform: translate(20%, -10%);
      top: 0;
      right: 0;
      position: absolute;
      font-size: 1.3rem;
    }
}

.avatar-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
