nav.navbar .dropdown-menu-lg {
  min-width: 20rem;
}

.dropdown-menu .dropdown-menu-footer {
  padding: 0.5em 1.5em;
  font-size: 0.75em;
}

.navbar .navbar-brand,
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color: var(--primary);
}

.navbar .navbar-brand {
  font-size: 2em;
}

.navbar-item .tag {
  height: 1.5em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
}

.navbar-nav {

  .nav-link.notification {
    position: relative;

    i {
      font-size: 1.2em;
    }
  }

  .nav-link .badge {
    position: absolute;
    background-color: $primary;
    color: $white;
    top: 0;
    border-radius: 50%;
    font-size: 0.6em;
    text-align: center;
    right: 0;
  }
}

.navbar {

  padding: 0.25em;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
  background-color: #fafbfc;

  .navbar-brand {
    padding: 0;
  }

  .nav-item {
    display: flex;
    align-items: center;
  }

  .user-dropdown {
    .dropdown-toggle::after {
      display:none;
    }

    .user-avatar {
      margin-right: 0.5em;
    }

    .nav-link {
      border-radius: 0;
      &:hover {
        background-color: rgba(0, 0, 0, 0.02);
      }
    }
  }
}